    * {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
    }


        header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0px;
  z-index: 9;
}

@media screen and (min-width:320px) and (max-width:768px){
  header{
    display: none !important;
  }

  .mobile-nav{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    position: sticky;
        background-color: white;
        top: 0px;
        z-index: 9;
  }

  .mob-section{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
  }
}

.mobile-nav{
  display: none;
}

  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
  }
  

  .logo img {
    height: 66px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;
  }

  .header-mob-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header-mob-link a{
    text-decoration: none;
    color: #061a40;
  }

  .header-mob-link{
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 10px;
  }
  
  .header-buttons .free-lms {
    background-color: #f39c12;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
  }

  .header-buttons .franchaise{
    background-color: dodgerblue;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .header-buttons .login-btn, .header-buttons .signup-btn {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
  }
  
  .header-buttons .signup-btn {
    background-color: #007bff;
    color: white;
  }

  .header-mob-buttons .free-lms {
    background-color: #f39c12;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }

  .header-mob-buttons .franchaise{
    background-color: dodgerblue;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }

  .header-mob-buttons .login-btn, .header-mob-buttons .signup-btn {
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    text-align: center;
  }

  .header-mob-buttons .signup-btn {
    background-color: #007bff;
    color: white;
    text-align: center;
  }

  
  .icon-menu {
    font-size: 18px;
    cursor: pointer;
  }
  
  .icon-menu i {
    color: #333;
  }

    
.dropend .dropdown-toggle {
  color: salmon;
  /* margin-left: 1em; */
}
.dropdown-item:hover {
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}



 

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.btn {
    background: #ff6600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
}


.recom-head {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.header-mob-ad {
  width: 100%;
}
.header-mob-ad .carousel img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}
/* header end here */





/* parent start here */
.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.child1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
    background-color: #007ab3;
    border-radius: 20px;
}
.child1 p {
    margin-bottom: 0;
}


.left-child1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding: 30px;
  gap: 20px;
}
.learn {
  font-size: 55px;
  font-weight: 600;
  color: white;
}
.advance {
  border-radius: 50px;
  background-color: #f39c12;
  padding-right: 6px;
  padding-left: 10px;
}
.career {
  border-radius: 50px;
  background-color: #f82346;
  padding-right: 6px;
  padding-left: 10px;
}

.sub-learn {
  width: 70%;
  color: white;
}

.start-btn {
  width: fit-content;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 6px 12px 6px;
  border-radius: 25px;
  border: none;
  margin-top: 30px;
}


.right-child1 {
  width: 55%;
}
.right-child1 img {
  width: 100%;
}




.child3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}
.access {
  font-size: 45px;
  font-weight: 600;
  color: black;
}
.anywhere {
  border-radius: 50px;
  background-color: green;
  color: white;
  padding-right: 6px;
  padding-left: 10px;
}

.sub-child3 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
}
.left-child3, .right-child3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.child3-head {
  background-color: rgb(208, 208, 255);
  color: blue;
  border-radius: 25px;
  padding: 4px 8px 4px;
}
.sub-child3 img {
  width: 100%;
}





.child4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.child4 p {
  margin-bottom: 0;
}
.learners {
  border-radius: 50px;
  background-color: #007ab3;
  color: white;
  padding-right: 6px;
  padding-left: 10px;
}



.carousel {
  height: 60vh;
  margin-top: 50px;
}
.testimonial {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  padding: 24px;
  height: fit-content;
  max-width: 300px;
  text-align: left;
}
.testimonial p {
  font-size: 15px;
  color: #333;
}
.quote {
  /* background-color: #f3f3f3; */
  /* padding: 6px; */
  width: 30px;
  height: 30px;
  /* border-radius: 25px; */
  /* margin-bottom: 20px; */
}
.author {
  display: flex;
  align-items: center;
  /* margin-top: 18px; */
}
.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.author-info h4 {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
.author-info p {
  font-size: 12px;
  color: #666;
  margin: 2px 0 0;
}






.child5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  width: 90%;
  background-color: #e5e5e5;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.course {
  border-radius: 50px;
  background-color: #f39c12;
  color: white;
  padding-right: 6px;
  padding-left: 10px;
}
.education {
  width: 45%;
  text-align: center;
}
.sub-child5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}

.six-btn {
  display: flex;
  width: 100%;
  gap: 20px;
}
.six-btn button {
  width: 15%;
  padding: 6px 12px 6px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 600;
}
.six-btn button:first-child {
  background: #007ab3;
  color: #fff;
}

.eight-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
}
.course-card {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.image-container {
  position: relative;
  height: 160px;
}
.course-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.recommended {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f39c12;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 8px;
}
.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  color: #555;
}
.course-content {
  padding: 16px;
}
.course-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 4px;
}
.course-content p {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
}
.author {
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
}
.author span {
  font-weight: 600;
  color: black;
}
.level {
  font-size: 13px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
}
.level span {
  font-weight: 600;
  color: black;
}
.price {
  font-size: 14px;
  margin-bottom: 10px;
}
.old {
  text-decoration: line-through;
  color: black;
  font-weight: 600;
  margin-right: 6px;
}
.new {
  color: #007ab3;
  font-weight: 600;
}
.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.tags button {
  font-size: 12px;
  background: #f0f0f0;
  color: #333;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
}
.tags button:last-child {
  background: #000;
  color: #fff;
}



.child6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 10px;
}
.child6 p {
  margin-bottom: 0;
}
.sub-child6 {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.sub-child6 img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
/* parent end here */





/* footer end here */
footer {
    background-color:#007ab3;
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin: 15px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
    font-size: 14px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: white;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid whitesmoke;
    padding-top: 10px;
    width: 100%;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #f39c12;
  }



  
/* form start */
.full-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-1 {
    display: none;
    border: 1px solid white;
    padding: 20px;
    background-color: white;
    color: #252525;
    border-radius: 5px;
    position: fixed;
    top: 123px;
    /* left: 210px; */
    width: 400px;
    box-shadow: 4px 4px 20px 4px ;
    z-index: 999;
}

#submit-1 {
    background-color: #007ab3;
    border-style: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#cancel-1 {
    position: absolute;
    top: 18px;
    right: 0px;
    cursor: pointer;
    border: 1px solid white;
    width: 10%;
    background-color: white;
    font-size: 20px;
}
/* form end */





  @media screen and (min-width: 320px) and (max-width: 768px) 
  {

    .child1 {
      flex-direction: column;
    }
    .left-child1 {
      width: 100%;
      padding: 15px;
      gap: 10px;
    }
    .learn {
      font-size: 28px;
    }
    .sub-learn {
      width: 100%;
    }
    .start-btn {
      margin-top: 10px;
    }
    .right-child1 {
      width: 100%;
    }




    .child3 {
      margin-top: 20px;
    }
    .access {
      font-size: 24px;
      text-align: center;
    }
    .sub-child3 {
      flex-direction: column;
      width: 90%;
      gap: 20px;
    }
    .left-child3 {
      width: 100%;
    }
    .right-child3 {
      width: 100%;
    }
    .child3-head {
      font-size: 14px;
    }
    .child3-sub-head {
      font-size: 14px;
    }



    .child4 {
      margin-top: 0px;
    }
    .sub-child4 {
      flex-direction: column;
      width: 90%;
      margin-top: 15px;
      gap: 10px;
    }
    .testimonial {
      width: 90%;
    }
  


    .child5 {
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .education {
      width: 100%;
    }
    .six-btn {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .six-btn button {
      width: fit-content;
    }
   
    
    .eight-cards {
      grid-template-columns: auto;
    }



    .child6 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    .sub-child6 {
      flex-direction: column;
      width: 100%;
      gap: 20px;
      margin-top: 15px;
    }

    /* form start */
    .form-1 {
        width: 90%;
        font-size: 12px;
        top: 20px;
    }
    /* form end */
    
  }




  
@layer base, demo;
@import url(https://fonts.bunny.net/css?family=abel:400);

@layer demo 
{
	.carousel {
		--items: 8; /* changed from 6 to 22 */
		--carousel-duration: 40s;
		@media (width > 600px) {
			--carousel-duration: 30s;
		}
		--carousel-width: min(100vw, 1200px);
		--carousel-item-width: 280px;
		--carousel-item-height: 300px;
		--carousel-item-gap: 2rem;

		--clr-cta: rgb(0, 132, 209);

		position: relative;
		width: var(--carousel-width);
		height: var(--carousel-item-height);
		overflow: clip;

		&[mask] {
			mask-image: linear-gradient(
				to right,
				transparent,
				black 10% 90%,
				transparent
			);
		}

		&[reverse] > article {
			animation-direction: reverse;
		}
		&:hover > article {
			animation-play-state: paused;
		}
	}
	.carousel > article {
		position: absolute;
		top: 0;
		left: calc(100% + var(--carousel-item-gap));
		width: 20%;
		display: grid;
		grid-template-rows: 50px auto 1fr auto;
		gap: 10px;
		border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));
		padding-block-end: 1rem;
		border-radius: 10px;
		background: light-dark(white, rgba(255 255 255 / 0.05));
		color: light-dark(rgb(49, 65, 88), white);

		animation-name: marquee;
		animation-duration: var(--carousel-duration);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: calc(
			var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
		);
	}

	/* Assign index (--i) for each of 22 cards */
	.carousel > article:nth-child(1) { --i: 0; }
	.carousel > article:nth-child(2) { --i: 1; }
	.carousel > article:nth-child(3) { --i: 2; }
	.carousel > article:nth-child(4) { --i: 3; }
	.carousel > article:nth-child(5) { --i: 4; }
	.carousel > article:nth-child(6) { --i: 5; }
	.carousel > article:nth-child(7) { --i: 6; }
	.carousel > article:nth-child(8) { --i: 7; }

	.carousel img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px 10px 0 0;
	}
	.carousel > article > *:not(img) {
		padding: 0 1rem;
	}
	.carousel > article > div {
		grid-row: span 2;
		display: grid;
		grid-template-rows: subgrid;
		font-size: 0.8rem;
	}
	.carousel > article h2 {
		font-size: 10px;
		font-weight: 300;
		padding-block: 0.75rem 0.25rem;
		margin: 0;
	}
	.carousel > article p {
		margin: 0;
	}
	.carousel > article a {
		text-decoration: none;
		text-transform: lowercase;
		border: 1px solid var(--clr-cta);
		color: light-dark(var(--clr-cta), white);
		border-radius: 3px;
		padding: 0.25rem 0.5rem;
		place-self: start;
		transition: 150ms ease-in-out;
		&:hover,
		&:focus-visible {
			/* background-color: var(--clr-cta); */
			color: white;
			outline: none;
		}
	}

	@keyframes marquee {
		100% {
			transform: translateX(
				calc(
					(var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) *
						-1
				)
			);
		}
	}
}